@font-face
{
    font-family:"junc-web";
    src:url("junc-web.ttf") format("truetype");
}

@font-face
{
    font-family:"jinky";
    src:url("JINKY.ttf") format("truetype");
}

*
{   
    border:0px;
    margin:0px;
    padding:0px;
    
}

body
{
    background: -webkit-radial-gradient(center, circle cover, #cccccc, #1a1a1a);
    background: -moz-radial-gradient(center, circle cover, #cccccc, #1a1a1a);
    color:#000;
    font-family:"junc-web";
    font-size:16px;
}

header a img
{
    display:block;
    height:70px;
    padding:5px;
    width:132px;
}

nav ul li a img
{
/*    border:5px solid #000;*/
    display:block;
    height:45px;
    padding:5px;
    width:50px;
}
nav ul li a img:hover
{
    background-color:transparent;
    box-shadow: rgba(0,0,0,1) 0px 5px 10px;
}

section
{
    display:block;
    margin:0 2% 2% 30%;
    position:center;
    width:40%;
}
