@font-face
{
    font-family:"junc-web";
    src:url("junc-web.ttf") format("truetype");
}

@font-face
{
    font-family:"jinky";
    src:url("JINKY.ttf") format("truetype");
}

*{
margin:0;
padding:0;
}

html,body{
width:100%;
height:100%;
}

body{
    font-family:"junc-web";
	color:#000;
}

a img{
    height:60px;
    text-decoration:none;
    color:#fff;
    width:60px;
}

a img :hover{
    color:#ffc400;
}

p{
    padding-top:20%;
    width:100%;
    color:#000;
    text-align:center;
    font-size:6em;
    -webkit-text-stroke:1px #000;
}

ul{
    display:inline-block;
    list-style:none;
}

#imgfixed a img
{
    display:inline-block;
    height:30%;
    right:-6%;
    position:fixed;
    top:2%;
    transform:rotate(45deg);
    width:30%;
}

#imgfixed a img:hover
{
	height:32%;
	width:32%;
}
#s1,#s2,#s3
{
    float:right;
    width:100%;
    height:100%;
    background:#ffffff;

}

/*#s1{
    background:-moz-radial-gradient(center,circle cover, #cccccc, #1a1a1a);
}
#s2{
    background:-moz-radial-gradient(center,circle cover, #cccccc, #1a1a1a);
}
#s3{
    background:-moz-radial-gradient(center,circle cover, #cccccc, #1a1a1a);
}

*/
.fixed{
    left:5%;
    z-index:999;
    position:fixed;
    width:20%;
    top:40%;
}
